/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.button-custom {
	-fx-pref-height: 29.0;
    -fx-pref-width: 164.0;
    -fx-background-color: #0598ff; /* Fundo azul */
    -fx-text-fill: white; /* Texto branco */
    -fx-border-color: white; /* Borda branca */
    -fx-border-width: 2px; /* Largura da borda */
    -fx-cursor: HAND;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.54), 10, 0, 0, 0);
}
.button-custom:hover{
	-fx-background-color: #0368FF;
}
.texto-telaCadCliente{
	-fx-font-size: 14px ; 
	-fx-font-family: Roboto Medium;
	-fx-text-fill: #0368FF;
	-fx-font-weight: bold;
}
.text-left{
	-fx-text-fill: #0368FF;
}
.text-field {
    -fx-background-color: #f0f0f0; /* Cor de fundo */
    -fx-background-radius: 10; /* Arredonda os cantos */
    -fx-padding: 10; /* Espaçamento interno */
    -fx-border-color: #a0a0a0; /* Cor da borda */
    -fx-border-radius: 10; /* Arredonda a borda */
    -fx-border-width: 2; /* Largura da borda */
    -fx-font-size: 14px; /* Tamanho da fonte */
    -fx-font-family: "Arial"; /* Fonte */
    -fx-text-fill: #333; /* Cor do texto */
    -fx-prompt-text-fill: #999; /* Cor do texto de sugestão */
    -fx-focus-color: #00bfff; /* Cor de foco (quando a caixa é clicada) */
    -fx-faint-focus-color: transparent; /* Remove o brilho ao redor quando focado */
}

.text-field:hover {
    -fx-background-color: #e8e8e8; /* Cor de fundo ao passar o mouse */
}

.text-field:focused {
    -fx-border-color: #00bfff; /* Cor da borda ao focar */
    -fx-background-color: #ffffff; /* Cor de fundo ao focar */
}

.salvar-button {
    -fx-background-color: #3598ff; 
    -fx-text-fill: white; /* Texto branco */
    -fx-font-size: 16px; /* Tamanho da fonte */
    -fx-font-weight: bold; /* Texto em negrito */
    -fx-background-radius: 10; /* Arredondar as bordas */
    -fx-border-color: #388E3C; /* Cor da borda */
    -fx-border-radius: 10; /* Bordas arredondadas */
    -fx-padding: 7 15; /* Espaçamento interno */
    -fx-cursor: hand; /* Mudar o cursor para mão ao passar o mouse */
}

.salvar-button:hover {
    -fx-background-color: #0368FF; /* Cor ligeiramente mais escura ao passar o mouse */
}


.table-view {
    -fx-background-color: #f5f5f5;
    -fx-border-color: #f5f5f5;
    -fx-border-radius: 5;
    -fx-padding: 10;
}


.table-view .column-header {
    -fx-background-color: #0598ff;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-alignment: CENTER;
}

.table-view .table-row-cell:odd {
    -fx-background-color: #e7e7e7;
}

.table-view .table-cell {
    -fx-alignment: CENTER; /* Centraliza o texto */
    -fx-padding: 5;
    -fx-font-size: 14px;
}